@import "styles/text.module.scss";
@import "styles/color.module.scss";
@import 'styles/_breakpoints.scss';


.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 64px;
    gap: 64px;
}



.titleSection{
    font: $title-section;
}




.similarMoviesContainer{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}




.allMoviesList{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.allMoviesContainer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    width: 100%;
}



