@import "styles/text.module.scss";
@import "styles/color.module.scss";

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    max-height: 40px;
    color: white;
    border: 1.5px solid transparent;
    &.sm{
        padding: 8px;
        min-width: 20px;

    }
    &.md{
        padding: 24px;
        max-width: 200px;

    }
    &.lg{
        padding: 12px;
        min-width: 175px;
    }
    &.xl{
        padding: 12px;
        min-width: 175px;
        width: 100%;
    }
    &.primary{
        background-color: $primary-color;
        border: 1.5px solid transparent;

        &:hover{
            background-color: transparent;
            border: $secondary-color 1.5px solid ;
        }
    }
    &.secondary{
        background-color: $secondary-color;
        &:hover{
            background-color: transparent;
            border: 1.5px solid $secondary-color;
            color: white;
            
        }
        color: black;
    }
    &.transparent{
        background-color: transparent;
        color: $primary-color;
     
        
    }
    &.disabled{
        pointer-events: none;
    }
    &.rounded{
        border-radius: 100px;
    }


}

.container:disabled{
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.link{
    display: flex;
    align-items: center;
    gap: 8px;
}